<nav>
	<a href="https://github.com/cybermarkus1">My Projects</a>
	<a href="http://portzar.com/marcozart/">My Work</a>
	<a href="http://www.linkedin.com/pub/marco-antonio-pajares/3a/457/52">My Profile</a>
	<a href="{{@blog.url}}">My Thoughts</a>
</nav>
